table.gameboard td {
    border: 1px solid black;
    border-color: black;
    background-color: white;
}


body {
text-align:center;
}

#survey {
  visibility: visible;
  position: absolute;
  left: 0px;
  top: 0px;
  width:100%;
  height:100%;
  text-align:center;
  z-index: 1000;
}

#survey div {
  width:600px;
  Height:800px;
  margin: 100px auto;
  background-color: #fff;
  border:1px solid #000;
  padding:15px;
  text-align:left;
}

#survey div label{
  font-weight: bold;
}

#survey div h2{
  text-align: center;
}
